TaskList {
    margin: 1 2;
    border: round white;
}

NewTask {
    margin: 1 2;
    border: round white;
}

Checkbox {
    background: $boost 0%;
    border: hidden;
}

NewTaskScreen {
    align: center middle;
}

CustomLog {
    margin: 1 2;
    border: round white;
    background: $boost;
    height: 30%
}

ListView.remove > ListItem.-highlight{
    background: red; 
}

ListView.remove > ListItem.-hovered{
    background: red;
}